[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
watchdog = "*"
faker = "*"

[packages]
flask = "*"
python-dotenv = "*"
wtforms = "*"
flask-wtf = "*"
flask-ckeditor = "*"
flask-sqlalchemy = "*"
bootstrap-flask = "*"
flask-moment = "*"
flask-debugtoolbar = "*"
flask-login = "*"
markdown = "*"

[requires]
python_version = "3.7"
